<div id="cadastro">
  <br>
   <h1 id="titulo">Setor</h1>
  </div>

<div class="container">
  <!-- Large outline input -->
<div class="md-form md-outline form-lg">
  <label for="form-lg">Nome</label>
  <input id="form-lg" class="form-control form-control-lg" type="text" name="nome"
  [(ngModel)]="setor.nome" #nome="ngModel" mdbInput>
</div>

</div>
<br><br>
<button align-items= "center" (click)="salvar()" type="submit" class="btn btn-outline-secondary">Salvar Setor</button><br>
<button routerLink="/gfuncionario" type="submit" class="btn btn-outline-secondary">Gerenciar setor</button>

</form>
</div>
